@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tw-animate-css";


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight;
  }

  button,
  [role="button"],
  a,
  input,
  select,
  textarea {
    @apply transition-colors duration-200 ease-out;
  }
}
